/*********************\
*     Properties      *
\*********************/
:root
{
     /* Colors */
    --white-color: rgb(222, 222, 222);
    --grey-color: rgb(50, 50, 50);
    --light-grey-color: rgb(110, 110, 110);
    --blue-color: rgb(0, 0, 100);
    --light-blue-color: rgb(0, 135, 150);
    --orange-color: rgb(200, 150, 0);

    /* Fonts */
	--roberto: 'Roberto Condensed', sans-serif;
    --merriweather: 'Merriweather', sans-serif
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--merriweather);
    background-image: url(../images/truck.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
.login{
    height:320px;
    width:300px;
    padding:30px;
    position:fixed;
    top:25%;
    left:40%;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    background: rgb(0, 0, 0, 0.6)
}
.create{
    height:420px;
    width:300px;
    padding:30px;
    position:fixed;
    top:17.5%;
    left:40%;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    background: rgb(0, 0, 0, 0.6)
}
.login_title{
    padding: 20px;
    color:azure;
}
.login_input_username:focus{
    background-color: white;
}
.login_input_email:focus{
    background-color: white;
}
.login_input_password:focus{
    background-color: white;
}
.login_input_username{
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2.5px solid;
    background-color: azure;
    border-radius: 4px;
}
.login_input_email{
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2.5px solid;
    background-color: azure;
    border-radius: 4px;
}
.login_input_password{
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2.5px solid;
    background-color: azure;
    border-radius: 4px;
}
.login_submit{
    width: 100%;
    margin-top: 15px;
    padding:0.75rem 2rem;
    font-weight: bold;
    background-color: azure;
    border-radius: 4px;
    color: 100,110,110;
}
.login_submit:hover{
    background-color: rgb(200, 210, 210);
}
.login_err_msg{
    /* color:red; */
    font-size: 12px;
}
.login_hidden{
    display:none;
}
.login_no_acct{
    margin-top: 1px;
    color: azure;
    font-size: 10px;
}
.login_no_acct:hover{
    text-decoration: underline;
}
/***************************************************************************************************************/
.shipperHome{
    position: fixed;
    left:0;
    height:100%;
    width: 420px;
    background: rgba(255, 255, 255, 0.8);
    transition: 1s;
}


.shipperHome header{
    font-size: 40px;
    font-weight: bold;
    color:rgb(50, 50, 50);
    background-color: rgb(222, 222, 222);
    text-align: center;
    line-height: 150px;
    border-right: 3px solid rgba(30, 30, 40, 0.45);
    /* border: 10px solid rgba(30, 30, 40, 0.5); */
}

.shipperHome ul a{
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color:rgb(50, 50, 50);
    /* background-color: rgba(255, 255, 255, 0.30); */
    padding-left: 140px;
    text-align: left;
    line-height: 135px;
    border-top: 3px solid rgba(30, 30, 40, 0.45);
    border-right: 3px solid rgba(30, 30, 40, 0.45);
    border-radius: 1px;
    transition: 0.5s; 
}
ul li:hover a{
    background-color: rgba(255, 255, 255);
}
.shipperHome header .toggle{
    height:40px;
    width:40px;
    position:absolute;
    top:7.5%;
    right:-17.5px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(111, 111, 111);
    border-radius: 20px;
    color: white;
    
    transition: 1s;
    cursor: pointer;
    
}
.shipperHome.close .toggle{
    /* transform: translateY(-50%) rotate(180deg);  */
    
}

.shipperHome.close header .toggle{
}

.shipperHome .close{
    width:88px;
}
/***************************************************************************************************************/
.carrierHome{
    position: fixed;
    left:0;
    height:100%;
    width: 420px;
    background: rgba(255, 255, 255, 0.8);
    transition: 1s;
}


.carrierHome header{
    font-size: 40px;
    font-weight: bold;
    color:rgb(50, 50, 50);
    background-color: rgb(222, 222, 222);
    text-align: center;
    line-height: 150px;
    border-right: 3px solid rgba(30, 30, 40, 0.45);
    /* border: 10px solid rgba(30, 30, 40, 0.5); */
}

.carrierHome ul a{
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color:rgb(50, 50, 50);
    /* background-color: rgba(255, 255, 255, 0.30); */
    padding-left: 140px;
    text-align: left;
    line-height: 135px;
    border-top: 3px solid rgba(30, 30, 40, 0.45);
    border-right: 3px solid rgba(30, 30, 40, 0.45);
    border-radius: 1px;
    transition: 0.5s; 
}
ul li:hover a{
    background-color: rgba(255, 255, 255);
}
.carrierHome header .toggle{
    height:40px;
    width:40px;
    position:absolute;
    top:7.5%;
    right:-17.5px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(111, 111, 111);
    border-radius: 20px;
    color: white;
    
    transition: 1s;
    cursor: pointer;
    
}
.carrierHome.close .toggle{
    /* transform: translateY(-50%) rotate(180deg);  */
    
}

.carrierHome.close header .toggle{
}

.carrierHome .close{
    width:88px;
}