/*********************\
*     Properties      *
\*********************/
:root
{
     /* Colors */
    --white-color: rgb(222, 222, 222);
    --grey-color: rgb(50, 50, 50);
    --light-grey-color: rgb(110, 110, 110);
    --blue-color: rgb(0, 0, 100);
    --light-blue-color: rgb(0, 135, 150);
    --orange-color: rgb(200, 150, 0);

    /* Fonts */
	--roberto: 'Roberto Condensed', sans-serif;
    --merriweather: 'Merriweather', sans-serif
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--merriweather);
    background-image: url(../images/truck.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
.login_container{
    height:320px;
    width:300px;
    padding:30px;
    position:fixed;
    top:25%;
    left:40%;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    background: rgb(0, 0, 0, 0.6)
}
.login_container_signup{
    height:400px;
    width:300px;
    padding:30px;
    position:fixed;
    top:25%;
    left:40%;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    background: rgb(0, 0, 0, 0.6)
}
.login_title{
    padding: 20px;
    color:azure;
}
.login_input_username:focus{
    background-color: white;
}
.login_input_password:focus{
    background-color: white;
}
.login_input_username{
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2.5px solid;
    background-color: azure;
    border-radius: 4px;
}
.login_input_password{
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2.5px solid;
    background-color: azure;
    border-radius: 4px;
}
.login_submit{
    width: 100%;
    margin-top: 15px;
    padding:0.75rem 2rem;
    font-weight: bold;
    background-color: azure;
    border-radius: 4px;
    color: 100,110,110;
}
.login_submit:hover{
    background-color: rgb(200, 210, 210);
}
.login_err_msg{
    /* color:red; */
    font-size: 12px;
}
.login_hidden{
    display:none;
}
.login_no_acct{
    margin-top: 1px;
    color: azure;
    font-size: 10px;
}
.login_no_acct:hover{
    text-decoration: underline;
}