/*********************\
*     Properties      *
\*********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login_container{
    width:420px;
    position:absolute;
    top:40%;
    left:45%;
}
